body {
    width: 37.5em;
    height: auto;
    margin: 0 auto;
    
    font-family: 'Roboto', sans-serif;
    background-color: #FAF5F2;
}

/* Navbar styles */
.navbar {
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, rgba(255, 193, 204, 0.9), rgba(196, 197, 222, 0.45));
    position: relative;
}

.logo {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.leading-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.leading-icon-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* Hidden checkbox to toggle menu */
.nav-toggle {
    display: none;
}

.menu {
    display: none;
    position: absolute;
    top: 3em;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-toggle:checked + .menu {
    display: block;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px;
    text-align: center;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
    display: block;
}

.menu ul li:hover {
    background-color: #f0f0f0;
}

/* Search bar styles */
.search-bar {
    display: none;
    align-items: start;
    position: inherit;
    width: 250px;
    height: 1em;
    border-radius: 5px;
    background: white;
    padding: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.search-icon img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 10px;
}

.search-bar input {
    width: 250px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#search-toggle:checked + .search-bar {
    display: flex;
    align-items: center;
}

#search-toggle {
    display: none;
}

footer {
    height: 10em;
    width: 600px;
    background: linear-gradient(to bottom, rgba(255, 193, 204, 0.9), rgba(196, 197, 222, 0.45));
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.container{
    padding: 10px;
}
